.App {
  padding: 30px;
  display: flex;
}
.App > div {
  margin-right: 50px;
}
.error {
  border: 1px solid red;
}
.error_message {
  color: red;
}
ul li {
  list-style-type: none;
}
ul {
  padding-left: 5px;
}
.active_filter {
  background-color: aquamarine;
}
.is_done {
  opacity: 0.5;
}